@import 'abstract/init';
@import 'base/init';
@import 'components/init';
@import 'pages/init';

html {
    height: 100%;
    overflow-y: auto !important;
}
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

*{
    &, &::before, &::after {
        box-sizing: border-box;
    }
}