.btn-open-app {
    --button-color: var(--color-layer-lightest);
    display: inline-grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 0.6666em;
    padding: 0.75em 1em;
    font-size: .9em;
    font-weight: 600;
    border-radius: 0.5em;
    white-space: nowrap;
    --button-active-background-color: var(--color-layer-darker);
    background-color: var(--button-color);
    color: var(--color-text-light);
    transform-origin: var(--button-transform-origin, center);

    &.bg-primary {
        background-color: #47477a;
    }
}