.text-center {
    text-align: center;
}
.mr-3 {
    margin-right: 15px;
}
.mr-2 {
    margin-right: 10px;
}
.banner {
    position: relative;
    top: 80px;
}

@media only screen and (max-width: 768px) {
    .banner {
        position: relative;
        top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper-team {
        display: flex;
        gap: 15px;
        overflow-x: auto;
    }
    .item-team {
        margin: 0px 5px;
        min-width: 10rem;
    }   
    .item-team img {
        height: 153px;
        width: 153px;
        border-radius: 50%;
    }
}


/* partner */
.wrapper-partner {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    --gap: 80px;
    flex-wrap: wrap;
    --column-gap: var(--gap);
    --row-gap: var(--gap);
    margin: calc(var(--row-gap)/-2) calc(var(--column-gap)/-2);
}
.wrapper-partner .image-partner-size img {
    max-height: 60px;
    max-width: 150px;
    margin: calc(var(--row-gap)/2) calc(var(--column-gap)/2);
}