@import 'fonts.css';
@import 'portal.css';
@import 'nft.css';
@import 'modal.css';
@import 'home.css';
@import 'index.css';
@import 'media.css';
@import 'owl.carousel.min.css';
@import 'style.css';
@import 'responsive.css';
@import '../awesome/css/all.min.css';