#traders {
    margin-top: 10rem;    
}
#league {
    margin-bottom: 5rem;
}
.bg-image {
    background-image: url('~Assets/image/grid.svg');
    background-repeat:repeat;
    height: 280vh;
    width: 100vw;
    background-size: contain;
}
img.background {
    height: 100vh;
}
.social-media {
    height: 2em;
    margin-top: 1rem;
}
.title-info {
    margin-bottom: 5rem;
}

.social-icon {
    padding: 0px 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* tokenomics */
.wrapper-tokenomics {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    height: auto;

    .tokenomics-image {
        width: 50%;
        
        img {
            width: 100%;
        }
    }

    .tokenomics-list {
        display: grid;
        gap: 1rem;
        grid-template-rows: auto;
    }
}
.tokenomics-item {
    min-height: 40px;
    height: auto;
    width: 100%;
    max-width: 325px;
    padding: 10px;
    background-color: #363b69;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;

    span {
        min-width: 25px;
    }
}
$color-token: (
    'red': red,
    'green': green
);
.tokenomics-item-percentace {
    height: 1.25rem;
    min-width: 1.25rem;
    
    @each $name, $color in $color-token {
        &.item-square-#{$name} {
            background-color: $color;
        }
    }
}

/* team */
.wrapper-team {
    display: flex;
    gap: 25px;
    overflow-x: auto;
}
.item-team {
    margin: 0px 5px;
    
    img {
        height: 153px;
        width: 153px;
        border-radius: 50%;
    }

    .name {
        color: var(--cyan-200);
        font-size: 16px;
        margin-top: 25px;
    }

    .role {
        font-size: 14px;
        margin: 0px 5px;
        margin-top: 15px;
    }
}

/* collection */
$color-collection-list: (
    'primary': linear-gradient(0deg,rgba(148,237,240,0.17),rgba(25,43,42,0)),
    'black': linear-gradient(0deg,#181425,transparent)
);
.wrapper-collection {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    max-height: auto;

    .text-active {
        color: #31f3e3;
    }

    .image-review {
        padding: 0px 2.5rem;
        justify-content: center;
        width: 50%;
        flex-direction: column;
        align-items: center;
        display: flex;

        .slide-image {
            transition: 250ms;
            opacity: 1;
            transform: translateX(0px);
            
            &.hide {
                transform: translateX(250px);
                opacity: 0;
            }
        }

        img {
            height: 353px;
            width: 275px;
        }

        .name-item {
            font-size: clamp(1.42rem,calc(1.31rem + 0.5vw),1.76rem);
            color: #31f3e3;
            margin-bottom: 0.75rem;
            margin-top: 20px;
        }

        .descript-item {
            font-size: clamp(1.13rem,calc(1.13rem + 0vw),1.13rem);
            color: #dddae6;
        }
    }

    .image-review-list {
        display: grid;
        gap: 1.25rem;
        width: 50%;
        grid-template-rows: repeat(3,minmax(1fr));
        grid-template-columns: repeat(3,minmax(0,1fr));

        img {
            max-height: 132px;
            max-width: 132px;
            height: 100%;
        }

        .image-review-item{
            display: grid;
            gap: 5px;
            cursor: pointer;
        
            @each $name, $color in $color-collection-list {
                .bg-#{$name} {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 10px;
                    width: 132px;
                    background: $color;
                }
            }
        }
    }
}

/* about */
.wrapper-about {
    display: flex;
    flex-direction: row;
    grid-template-columns: 250px 250px;
    gap: 1rem;

    .img-about {
        max-width: 546px;

        img {
            width: 546px;
            transition: transform-origin .5s cubic-bezier(.16, 1, .3, 1), transform 3s .5s cubic-bezier(.34, 2, .64, 1);
            transform: rotateY(-4deg) rotateX(-2.5deg);
            transform-origin: -50%;

            &:hover {
                transform: translateZ(3rem);
                transform-origin: center;
            }
        }
    }
}

/* rarity */
$rariry-color: (
    'pink': #E56B87,
    'purple': #634FDC,
    'aqua': #5A98D2,
    'green': #5AD27C
);
.percentage-rarity {
    display: grid;
    gap: 1rem;
    flex-direction: row;
    .box {
        position: relative;
        height: auto;
        text-transform: uppercase;

        @each $name, $color in $rariry-color {
            .box-#{$name} {
                align-items: center;
                justify-content: center;
                border: 4px solid $color;
                min-width: 115px;
                height: 100px;
                color: $color;
            }
        }
    }
}

$list-color-roadmap: (
    'blue-100': --blue-100,
    'blue-300': --blue-300,
    'cyan-200': --cyan-200,
    'black': --black
);

/* roadmap */

@each $name, $color in $list-color-roadmap {
    .bg-brand-#{$name} {
        background-color: var($color);
    }
    .bg-brand-#{$name} {
        background-color: var($color);
    }
    .text-brand-#{$name} {
        color: var($color);
    }
    .text-brand-#{$name} {
        color: var($color);
    }
}

@import 'responsive/home';